<% if user_has_accepted_team? %>
  <div class="main">
    <div class="container">
      <div class="row">
        <%= render 'shared/group_info' %>
      <% if !current_user.translator %>
        <%= render 'shared/texts_info' %>
      <%elsif%>
        <%= render 'shared/translations_info' %>
    <%end%>
      </div>
    </div>
  </div>
<%end%>

