<div class="subnavbar">

  <div class="subnavbar-inner">

    <div class="container">

      <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>

      </a>

      <div class="collapse subnav-collapse">
        <ul class="mainnav">

          <li class="">
            <a href="./index.html">
              <i class="icon-home"></i>
              <span>Home</span>
            </a>              
          </li>

          <li class="">
            <a href="./index.html">
              <i class="icon-home"></i>
              <span>Home</span>
            </a>              
          </li>

          <%if user_has_accepted_team? || current_user.leader%> 
            <li class=""> 
              <%= link_to new_text_path do %>
              <i class="icon-home"></i>
              <span>Çeviri Yaptır</span>
            <%end%>
          </li>
        <%end%>

        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
