<li class="active">
  <%= link_to team_texts_path(@team) do %>
    <span class="badge pull-right">42</span>
    Tüm Çeviriler
  <%end%>
</li>

<li class = ''>
  <a href="javascript:;">
    <span class="badge pull-right">3</span>
    Benim Çevirilerim
  </a>
</li>
<li class = '' ><%= link_to 'Yeni Çeviri', new_team_text_path(@team) %> </li>
