<div class="col-md-6">

  <div class="widget stacked widget-table action-table">

    <div class="widget-header">
      <i class="icon-group"></i>
      <h3> Çeviri Bekleyenler</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content middle">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class = 'middle'>Metin Başlığı</th>
            <th class = 'middle'>Çeviri Durumu</th>
          </tr>
        </thead>
        <tbody>
          <% texts_without_translation.each do |untranslated| %>
            <tr>
              <td><%= link_to untranslated.title, text_path(untranslated) %></td>
              <td> 
                <button type = 'button' class = 'btn btn-info'>
                  Çevrilmedi
                </button>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div> <!-- /widget-content -->
  </div> <!-- /widget -->
</div>
