<% if allow? :teams, :show, @team %>
  <%= link_to 'Grubu Yönet', team_path(@team) %>
<%end%>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'shared/team_nav' %>
      </div>
      <div class="col-md-8">
        <div class="row">
          <%= render 'shared/text_display' %> 
        </div>
      </div>
    </div>
  </div>
</div>
