<div class="main">
  <div class="row">
    <div class="col-md-4">
      <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <%= render 'shared/team_nav' %>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <% @personal_texts.each do |text| %>
          <div class="col-md-6">
            <div class="widget stacked">
              <div class="widget-header middle">
                <i class="icon-file"></i>
                <h3>Çevrilecek</h3>
              </div> <!-- /widget-header -->
              <div class="widget-content middle">
                <%= link_to text.title, text_path(text), class: "news-item-title" %>     
                <p><%= excerpt(text.text, text.text.split.first, radius: 80) %></p>
              </div> <!-- /widget-content -->
            </div> <!-- /widget -->
          </div> <!-- /span6 -->
        <%end%>
      </div>
      <div class = 'middle' >
        <%= will_paginate @texts, renderer: BootstrapPagination::Rails%>
      </div>
    </div>
  </div>
</div>
